{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}
	<section class="jumbotron">
		<div class="row vertical-center" style="height: 600px;">
			<h1>Choose your best Tricks</h1>
		</div>
		<div class="row d-flex justify-content-end">
			<a href="#zone_a_pointer">
				<i class="fas fa-arrow-circle-down" style="font-size: 40px;"></i>
			</a> 
		</div>
	</section>
	<section>
		<div class="container">
			<div class="card" style="width: 18rem;">
				<img class="card-img-top" src="https://resize.over-blog.com/400x400-ct.jpg?https://img.over-blog-kiwi.com/1/93/60/21/20200219/ob_a4112d_385654-the-originals-saison-2-un-nouve.jpg#width=623&height=362" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Card title</h5>
					<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					<a href="#" class="btn btn-primary">Go somewhere</a>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
