        
#headerwrap {
    background: url(/images/snowboarding.jpg) no-repeat center top;
    /* margin-top: 50px; */
    background-attachment: fixed;
    min-height: 500px;
    width: 100%;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
  }

#imgHome {
    padding-left: unset;
    padding-right: unset;
}

.jumbotron {
    background: url(/images/snowboarding.jpg) no-repeat center top;
    background-size: cover;
}

.jumbotron h1 {
    color: white;
}

.vertical-center {
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.img_post {
  height: 150px;
}
