{% extends 'base.html.twig' %}

{% block title %}Liste des figures{% endblock %}

{% block body %}
<section class="py-5">
<div class="container-fluid">
	{# <div class"jumbotron"> #}
        <div class="col">
		<img src="{{ tricks.image }}" alt="..." style="height: 400px; width: 1200px;"/>
            <div class="row vertical-center" >
                <h1>{{ tricks.name }}  Todo :(image name figure à modifier)</h1>
            </div>
        </div>
	{# </div> #}
</div>
</section>

{% block image %}
	<section class="container">
		<img src="{{ tricks.image }}" alt="....."/>
        block images + videos
	</section>

{% endblock  image %}




{% endblock %}